<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trigg.alarmclock" >

    <!-- Permission pour reveiller le tel et afficher un ecran -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission pour la geolocalisation -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Pour les sms -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main_test"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.trigg.alarmclock.AlarmListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.trigg.alarmclock.AlarmScreen"
            android:screenOrientation="portrait"/>

        <activity android:name="com.trigg.alarmclock.AlarmDetailsActivity"
            android:screenOrientation="portrait"/>

        <service android:name="com.trigg.alarmclock.AlarmService"
            android:enabled="true"/>

        <receiver android:name="com.trigg.alarmclock.AlarmManagerHelper" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>


</manifest>
